.quadrado {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: coral;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.quadrado2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.quadrado3 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.quadrado4 {
    position: absolute;
    right: 0px;
    top: 0px;
}